<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Título por defecto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tablas.css}">
    <link rel="stylesheet" th:href="@{/css/fotos.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/comentarios.css}">
    <link rel="stylesheet" th:href="@{/css/estadisticas.css}">
    <link rel="stylesheet" th:href="@{/css/evaluaciones.css}">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/actividades}">Ver Actividades</a></li>
                    <li><a th:href="@{/estadisticas}">Estadísticas</a></li>
                    <li><a th:href="@{/agregar}">Agregar Actividad</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <footer th:fragment="footer">
        <p>&copy; 2025 Tu Sitio</p>
    </footer>
</body>
</html>
