<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
    <div class="main">
        <nav>
            <div class="container">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='svg/logo.png') }}"
                        alt="Logo SocialAct"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('agregar_actividad') }}">Agregar Actividad</a></li>
                    <li><a href="{{ url_for('listado_actividades') }}">Ver Listado</a></li>
                    <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
                </ul>
            </div>
        </nav>
        <section class="main-container">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% block javascript %}{% endblock %}
</body>

</html>