{% extends 'base.html' %}

{% block title %}SocialAct - Actividades Recreativas{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="centered">
        <h1>Últimas Actividades Recreativas</h1>
        <table>
            <tr>
                <th>Inicio</th>
                <th>Comuna</th>
                <th>Nombre </th>
                <th>Foto</th>
            </tr>
            {% for actividad in actividades %}
            <tr onclick="window.location='{{ url_for('detalle_actividad', id=actividad.id) }}';">
                <td>{{ actividad.inicio }}</td>
                <td>{{ actividad.comuna }}</td>
                <td>{{ actividad.nombre }} </td>
                <td>
                    {% if actividad.fotos %}
                    <img src="{{ actividad.fotos[0] }}" alt="Foto" class="thumbnail" width="100" height="80">
                    {% else %}
                    Sin foto
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}