{% extends 'base.html' %}
{% block title %}Listado de Actividades{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}
{% block content %}
<div class="centered">
    <h1 class="centered">Listado de Actividades</h1>
</div>
<div class="centered">
    <table class="display-table" style="width:50%">
        <tr>
            <th>Inicio</th>
            <th>Término</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Tema</th>
            <th>Organizador</th>
            <th>Foto</th>
            <th>Total Fotos</th>
        </tr>
        {% for actividad in actividades %}
        <tr onclick="window.location='{{ url_for('detalle_actividad', id=actividad.id) }}';">
            <td>{{ actividad.inicio }}</td0>
            <td>{{ actividad.termino or '-' }}</td>
            <td>{{ actividad.comuna }}</td>

            {% if actividad.sector %}
            <td>{{ actividad.sector }}</td>
            {% else %}
            <td>{{ "-" }}</td>
            {% endif %}

            <td>{{ actividad.tema }}</td>
            <td>{{ actividad.nombre }}</td>
            <td>
                {% if actividad.fotos %}
                <img src="{{ actividad.fotos[0] }}" alt="Foto" class="thumbnail" width="100" height="80">
                {% else %}
                Sin foto
                {% endif %}
            </td>
            <td> {{actividad.total_fotos}} </td>
        </tr>
        {% endfor %}
    </table>
</div>
<nav class="navigation-bar" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            {% if prev_page %}
            <a class="page-link" href="{{ url_for('listado_actividades', page=prev_page) }}" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </a>
            {% endif %}
        </li>
        {% for p in range(1, total_pages + 1) %}
        <li class="page-item {% if p == current_page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('listado_actividades', page=p) }}">{{ p }}</a>
        </li>
        {% endfor %}
        <li class="page-item">
            {% if next_page %}
            <a class="page-link" href="{{ url_for('listado_actividades', page=next_page) }}" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}